<section id='todos'>
  <header>
    <h2>Editing: "<%= @list[:name] %>"</h2>
    <ul>
      <li>
        <% # We need to use a form because we can't issue post requests through <a> tags %>
        <form class='delete' action="/lists/<%= params[:id] %>/delete" method='post'>
          <button type='submit' class='delete' value='Save'>Delete List</button>
        </form>
      </li>
    </ul>
  </header>
</section>

<form action="/lists/<%= params[:id] %>" method="post">
  <dl>
    <dt>
      <label for="list_name">Please enter the new name for your list: </label>
    </dt>
    <dd>
      <%# Good practice is to update the value in the .erb file with what the user posted (regardless of validity) %>
      <input name="list_name" placeholder="List Name" type = "text" value="<%= @list[:name] || params[:list_name] %>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= params[:id] %>">Cancel</a>
  </fieldset>
</form>
